<link rel="stylesheet" href="/css/style.css">

<nav>
    <a href="/">DevConnect</a>
    <a href="/signup">Signup</a>
    <a href="/signin">Signin</a>
</nav>

<section class="hero">

    <div class="hero-box">

        <h1>Welcome to DevConnect</h1>

        <p>
            A modern platform where developers can share ideas,
            write blogs, create posts, and connect with others.
        </p>

        <div class="hero-buttons">
            <a href="/signup" class="btn">Get Started</a>
            <a href="/signin" class="btn secondary">Login</a>
        </div>

    </div>

</section>